# core

>  Some utility functions for working with Pandas.

In [ ]:
#| default_exp core

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
#| export
import pandas as pd

In [ ]:
#| export
def markdown_to_pandas(md_table_str:str): # The markdown table string to be converted.
    """
    Convert a markdown table string to a pandas DataFrame.
    """
    
    # Split the input markdown string into separate lines
    lines = md_table_str.strip().split("\n")
    
    # Split the first line of the input markdown string into columns
    columns = lines[0].split("|")[1:-1]
    
    # Strip the whitespaces in the columns
    columns = [x.strip() for x in columns]
    
    # Split the remaining lines of the input markdown string into rows of data
    data = [line.split("|")[1:-1] for line in lines[2:]]
    
    # Strip the whitespaces in each row of data
    data = [[x.strip() for x in row] for row in data]
    
    # Create a pandas DataFrame from the columns and data
    return pd.DataFrame(data, columns=columns)

In [ ]:
md_table_str = """
| Name | Age | Occupation |
| ---- | --- | ---------- |
| John | 35  | Engineer    |
| Jane | 29  | Teacher     |
| Bob  | 42  | Doctor      |
"""

In [ ]:
markdown_df = markdown_to_pandas(md_table_str)
markdown_df[markdown_df.Name == "Jane"]

   Name Age Occupation
1  Jane  29    Teacher

In [ ]:
#| export
def display_df(df:pd.DataFrame, # The DataFrame to be displayed.
               align:str='left'): # Alignment for the headers and all the cells.
    """
    Display a pandas DataFrame with specified alignment for the headers and all the cells.
    """
    # Set the properties for the styler object
    properties = {'width': 'auto', 'text-align': align}
    
    # Set the styles for the table
    styles = [{'selector': 'th', 'props': [('text-align', align)]}]
    
    # Return the styler object with set properties and table styles
    return df.style.set_properties(**properties).set_table_styles(styles)

In [ ]:
display_df(markdown_df)

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()